/* Koalynne Design Style Sheet

	Author: Charles Gatz
	Date:   April 12, 2014

*/ 

/*body styles*/




body {
	padding: 25px;
	color: #FFC0CB;
}

@font-face{

	font-family: "Papyrus Regular";
	src: url("../img/PAPYRUS.TTF");

}



.navbar {
	position: relative;
    margin-top: 1%;
    margin-left: 30%;
	font-family:"Papyrus Regular", Tahoma, sans-serif;


}

#subscript{
	display: none;
	position: relative;
	float: left;
	margin-left: 25%;
	margin-top: -2%;
}

.subscript2{

	margin-left: -12px;
	margin-top: 6px;
}

hr{
	color: #FFC0CB;
	height: 1px;
	border: none;
	background-color: #FFC0CB;
	margin-left: 1%;
}

}

ul{
    
	list-style: none;
	float: left;
}
li{
	display: inline;
}

.hero-unit{

	background: transparent;
	margin-top: 5%;

}

.jumbotron{

	margin-top: -7%;

	width: 100%;

}

.Logo1{

	margin-left: 11%;
	margin-top: -3%;
    
}



.nav {

	margin-left: 23%;
	padding: 0px;
	height: 2px;

}

.top {

	margin-bottom: -1%;
	margin-right: 2%%;
	margin-left: 2%;
	
}

.bottom {

	margin-right: 2%;
	margin-left: 2%;
	margin-top: 1px;

}

