/* Koalynne Design Style Sheet

	Author: Charles Gatz
	Date:   April 12, 2014

*/ 

/*body styles*/




body {
	padding: 25px;
	color: #FFC0CB;
	font: 100% Tahoma Geneva sans-serif;
	background-image: url("../img/background_tile.PNG");
}

.navbar {

	margin-left: 32%;


}

.subscript{
	display: none;
	position: relative;
	margin-left: 33%;
	margin-top: -7%;

}

hr{
	color: #FFC0CB;
	height: 1px;
	border: none;
	background-color: #FFC0CB;
	margin-right: 55%%;
	padding: 0px;
	margin-left: 1%;
}

}

ul{

	list-style: none;
	float: left;
}
li{
	display: inline;
}

.hero-unit{

	background: transparent;

}

.jumbotron{

	margin-top: -7%;

	width: 100%;

}

.Logo1{

	margin-left: 11%;
	margin-top: -3%;
    
}

.Logo2{
    
    margin-top: -3%;
	
	
}

.nav {

	padding: 0px;
	height: 2px;

}

.top {

	margin-bottom: -1%;
}

.bottom {

	margin-top: 3%;
}