/* Koalynne Design Style Sheet

	Author: Charles Gatz
	Date:   April 12, 2014

*/ 

/*body styles*/

*{
	background-image: ulr("../img/background_tile.PNG");
}


body {
	padding: 25px;
	color: #FFC0CB;
	font: 100% Tahoma Geneva sans-serif;
	background-image: url("../img/background_tile.PNG");
}

.navbar-inner {

	background-image: url("../img/background_tile.PNG");
	background-repeat: repeat;
	border: none;
	
}

.navbar {
	color: #FFC0CB;

}



.subscript{
	display: none;
	position: relative;
	margin-left: 29%;
	margin-top: -10%;

}

hr{
	color: #FFC0CB;
}

ul{

	list-style: none;
	float: left;
	margin-left: 5%;
}
li{
	display: inline;
}